.flex-container-il{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.spinner{
    color: red;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    -ms-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%); 
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
}