.header{
  height: 150px;
  width: 100%;
  background: black;
  display: flex;
  justify-content: flex-start;
}
.navbar{
  width: 100%;
}
.navbar-container{
  height: 50px;
  display: flex;
  border: .5px none black;
  box-shadow: 2px 2px 5px #1111117a;
  /* background: black; */
}
.title-app {
  color: wheat;
  /* font-size: 1rem; */
  text-shadow: 1px 1px 10px gold;
  display: block;
  text-align: start;
  margin-left: -20px;
}
.title-app>h1{
  margin-left: auto;
  min-width: 50%;
}
.navbar-container>a{
  margin: auto;
  text-decoration: none;
  font-size: .9rem;
  color: rgba(255, 166, 0, 0.767);
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.cart {
    padding: 10px;
    font-size: 1.5rem;
    margin-right: 1%;
}

.icono-pegaso{
  width: 150px;
  margin-top: 0px;  
}

.badge-cart{
  background: red;
  border: 50%;
  color: white;
}

@media screen and (max-width: 480px){

  .title-app {
    font-size: 1rem;
  }
  .navbar-container>a{
    font-size: .7rem;
  }
  .icono-pegaso{
    width: 100px;
  }
  .navbar-container{
    height: 30px;
  }
  .header{
    height: 110px;
  }
  .cart {
    padding: 5px;
    font-size: 1rem;
}
  

}


